body{
    background-color: bisque;

}
.chats{
    background-color: beige;
    padding: 1rem;
    margin: 1rem;
  width: 28%;
  border-radius: 1rem;
  display: inline-block;

}
.chats #msg{
    background-color: rgb(233, 159, 68);
    padding: 0.5rem;
    border-radius: 1rem;
}
button{
    background: none;
    border-radius:0.4rem ;
    border: 2px solid  rgb(233, 159, 68);
    padding: 0.4rem 1rem;
    margin-left: 0.5rem;
    
}
.chats .buttons{
    display: flex;
}