body{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
}
.inner_div{
    width: 6rem;
    height:5rem;
    background-color: blue;
    margin: 2rem;
    border-radius: 1rem;
    border: 0.5rem solid black;
}
.btn1{
    background-color: red;
}
.btn2{
    background-color: green;
}
.btn3{
    background-color: blue;
}
.btn4{
    background-color: yellow;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}