<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="From">
        <br><br>
        <input type="text" name="to" placeholder="To">
        <br><br>
        <textarea name="msg"  cols="30" rows="10">Enter message</textarea>
        <br><br> 
        <button>Message</button>
    </form>
</body>
</html>